@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

@keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

.msw-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27.5px;
  margin-top: -27.5px; }
  .msw-loader .loader-square {
    width: 15px;
    height: 15px;
    float: left;
    top: -10px;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
    opacity: 0;
    -webkit-animation: enter 6s infinite;
    animation: enter 6s infinite; }
  .msw-loader .loader-loader-enter {
    top: 0px;
    opacity: 1; }
  .msw-loader .loader-square:nth-child(1) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s; }
  .msw-loader .loader-square:nth-child(2) {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s; }
  .msw-loader .loader-square:nth-child(3) {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s; }
  .msw-loader .loader-square:nth-child(4) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  .msw-loader .loader-square:nth-child(5) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s; }
  .msw-loader .loader-square:nth-child(6) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .msw-loader .loader-square:nth-child(8) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .msw-loader .loader-square:nth-child(9) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .msw-loader .loader-clear {
    clear: both; }
  .msw-loader .loader-last {
    margin-right: 0; }

.is-paddingless {
  padding: 0 !important;
}
.is-pulled-bottom {
  margin-top: auto;
}
.has-no-right-margin {
  margin-right: 0 !important;
}
.has-no-right-padding {
  padding-right: 0 !important;
}
.has-no-right-spaces {
  margin-right: 0 !important;
  padding-right: 0 !important;
}
.has-no-left-margin {
  margin-left: 0 !important;
}
.has-no-left-padding {
  padding-left: 0 !important;
}
.has-no-left-spaces {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.msw-loader .primary-color {
  background-color: #E63A30;
}
.msw-loader .secondary-color {
  background-color: #000;
}
.card {
  padding: 1%;
  border: 1px solid #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.card .card-header {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #212D3A;
}
.card .card-footer {
  border-top: none;
}
.clickable-card,
.info-card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 0 2% 2% 2%;
}
.clickable-card .card-header,
.info-card .card-header {
  display: inline-block;
  padding: 0px 10px;
  color: #FFF;
  border-radius: 0 0 5px 5px;
  text-transform: uppercase;
  border-bottom: none;
}
.clickable-card {
  cursor: pointer;
}
.has-card-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#FFF));
  background: linear-gradient(to bottom, #EBEBEB, #FFF);
}
.card-equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.card-equal-height .card-footer {
  margin-top: auto;
}
.stats-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EBEBEB));
  background-image: linear-gradient(to bottom, #FFF, #EBEBEB);
  padding: 0 !important;
}
.stats-card .columns {
  margin: 0;
}
.stats-card .columns:not(:first-child) {
  border-top: 1px solid rgba(219, 219, 219, 0.75);
}
.stats-card .column:not(:first-child) {
  border-left: 1px solid rgba(219, 219, 219, 0.75);
}
.stats-card .column {
  padding: 0;
}
.stats-card hr {
  margin: 0.75rem 0;
}
.stats-card .card-content {
  padding: 0.35rem;
}
.stats-card .media {
  padding: 0.5rem;
}
.stats-card .title,
.stats-card .subtitle {
  color: #4E5762;
}
.card-blue {
  background-color: #1CBDC7;
}
.clickable-card-blue:hover {
  background-color: #1CBDC7;
}
.clickable-card-blue:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-blue .card-header,
.info-card-blue .card-header {
  background-color: #1CBDC7;
}
.clickable-card-blue .card-header .card-header-title,
.info-card-blue .card-header .card-header-title {
  color: #FFF !important;
}
.info-card-blue a {
  color: #1CBDC7;
}
.info-card-blue a:hover {
  color: #212D3A;
}
.info-card-blue a.swap {
  color: #212D3A;
}
.info-card-blue a.swap:hover {
  color: #1CBDC7;
}
.info-card-blue p.colored {
  color: #1CBDC7 !important;
}
.card-header-blue {
  background-color: #1CBDC7;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-header-blue .card-header-title {
  color: #FFF !important;
}
.card-green {
  background-color: #1D875F;
}
.clickable-card-green:hover {
  background-color: #1D875F;
}
.clickable-card-green:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-green .card-header,
.info-card-green .card-header {
  background-color: #1D875F;
}
.clickable-card-green .card-header .card-header-title,
.info-card-green .card-header .card-header-title {
  color: #FFF !important;
}
.info-card-green a {
  color: #1D875F;
}
.info-card-green a:hover {
  color: #212D3A;
}
.info-card-green a.swap {
  color: #212D3A;
}
.info-card-green a.swap:hover {
  color: #1D875F;
}
.info-card-green p.colored {
  color: #1D875F !important;
}
.card-header-green {
  background-color: #1D875F;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-header-green .card-header-title {
  color: #FFF !important;
}
.card-brown {
  background-color: #B39482;
}
.clickable-card-brown:hover {
  background-color: #B39482;
}
.clickable-card-brown:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-brown .card-header,
.info-card-brown .card-header {
  background-color: #B39482;
}
.clickable-card-brown .card-header .card-header-title,
.info-card-brown .card-header .card-header-title {
  color: #FFF !important;
}
.info-card-brown a {
  color: #B39482;
}
.info-card-brown a:hover {
  color: #212D3A;
}
.info-card-brown a.swap {
  color: #212D3A;
}
.info-card-brown a.swap:hover {
  color: #B39482;
}
.info-card-brown p.colored {
  color: #B39482 !important;
}
.card-header-brown {
  background-color: #B39482;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-header-brown .card-header-title {
  color: #FFF !important;
}
.card-purple {
  background-color: #7E69B4;
}
.clickable-card-purple:hover {
  background-color: #7E69B4;
}
.clickable-card-purple:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-purple .card-header,
.info-card-purple .card-header {
  background-color: #7E69B4;
}
.clickable-card-purple .card-header .card-header-title,
.info-card-purple .card-header .card-header-title {
  color: #FFF !important;
}
.info-card-purple a {
  color: #7E69B4;
}
.info-card-purple a:hover {
  color: #212D3A;
}
.info-card-purple a.swap {
  color: #212D3A;
}
.info-card-purple a.swap:hover {
  color: #7E69B4;
}
.info-card-purple p.colored {
  color: #7E69B4 !important;
}
.card-header-purple {
  background-color: #7E69B4;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-header-purple .card-header-title {
  color: #FFF !important;
}
.card-orange {
  background-color: #F8AA24;
}
.clickable-card-orange:hover {
  background-color: #F8AA24;
}
.clickable-card-orange:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-orange .card-header,
.info-card-orange .card-header {
  background-color: #F8AA24;
}
.clickable-card-orange .card-header .card-header-title,
.info-card-orange .card-header .card-header-title {
  color: #FFF !important;
}
.info-card-orange a {
  color: #F8AA24;
}
.info-card-orange a:hover {
  color: #212D3A;
}
.info-card-orange a.swap {
  color: #212D3A;
}
.info-card-orange a.swap:hover {
  color: #F8AA24;
}
.info-card-orange p.colored {
  color: #F8AA24 !important;
}
.card-header-orange {
  background-color: #F8AA24;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-header-orange .card-header-title {
  color: #FFF !important;
}
.card-red {
  background-color: #E9362F;
}
.clickable-card-red:hover {
  background-color: #E9362F;
}
.clickable-card-red:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-red .card-header,
.info-card-red .card-header {
  background-color: #E9362F;
}
.clickable-card-red .card-header .card-header-title,
.info-card-red .card-header .card-header-title {
  color: #FFF !important;
}
.info-card-red a {
  color: #E9362F;
}
.info-card-red a:hover {
  color: #212D3A;
}
.info-card-red a.swap {
  color: #212D3A;
}
.info-card-red a.swap:hover {
  color: #E9362F;
}
.info-card-red p.colored {
  color: #E9362F !important;
}
.card-header-red {
  background-color: #E9362F;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-header-red .card-header-title {
  color: #FFF !important;
}
.dropzone-equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.button {
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  border: solid 1px #FFF;
  text-decoration: none;
  color: #4E5762;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  line-height: 1.8em;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  height: auto;
}
.button:focus:not(:active),
.button.is-focused:not(:active) {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.button:focus,
.button.is-focused {
  border-color: transparent;
}
.button-blue:focus,
.is-focused-blue,
.button-blue:hover {
  color: #1CBDC7;
}
.button-green:focus,
.is-focused-green,
.button-green:hover {
  color: #1D875F;
}
.button-brown:focus,
.is-focused-brown,
.button-brown:hover {
  color: #B39482;
}
.button-purple:focus,
.is-focused-purple,
.button-purple:hover {
  color: #7E69B4;
}
.button-orange:focus,
.is-focused-orange,
.button-orange:hover {
  color: #F8AA24;
}
.button-red:focus,
.is-focused-red,
.button-red:hover {
  color: #E9362F;
}
.has-button-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EBEBEB));
  background-image: linear-gradient(to bottom, #FFF, #EBEBEB);
}
.has-button-gradient:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FFF), to(#EBEBEB));
  background-image: linear-gradient(to top, #FFF, #EBEBEB);
}
.input {
  border: 0;
  padding: 8px;
  min-height: 32px;
  background-color: #EEF0F2;
  border-radius: 8px;
}
.input:focus,
.input:hover,
.input:active {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.v-select .dropdown-toggle {
  width: 100%;
  border: none !important;
}
.v-select.single.open .selected-tag {
  position: static !important;
}
.field.has-addons .control .button {
  height: 100% !important;
}
.steps .step-item.is-blue::before {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #DBDBDB), color-stop(50%, #1CBDC7));
  background: linear-gradient(to left, #DBDBDB 50%, #1CBDC7 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.steps .step-item.is-blue.is-active::before {
  background-position: left bottom;
}
.steps .step-item.is-blue.is-active .step-marker {
  background-color: #FFF;
  border-color: #1CBDC7;
  color: #1CBDC7;
}
.steps .step-item.is-blue.is-completed::before {
  background-position: left bottom;
}
.steps .step-item.is-blue.is-completed .step-marker {
  background-color: #1CBDC7;
}
.steps .step-item.is-green::before {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #DBDBDB), color-stop(50%, #1D875F));
  background: linear-gradient(to left, #DBDBDB 50%, #1D875F 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.steps .step-item.is-green.is-active::before {
  background-position: left bottom;
}
.steps .step-item.is-green.is-active .step-marker {
  background-color: #FFF;
  border-color: #1D875F;
  color: #1D875F;
}
.steps .step-item.is-green.is-completed::before {
  background-position: left bottom;
}
.steps .step-item.is-green.is-completed .step-marker {
  background-color: #1D875F;
}
.steps .step-item.is-brown::before {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #DBDBDB), color-stop(50%, #B39482));
  background: linear-gradient(to left, #DBDBDB 50%, #B39482 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.steps .step-item.is-brown.is-active::before {
  background-position: left bottom;
}
.steps .step-item.is-brown.is-active .step-marker {
  background-color: #FFF;
  border-color: #B39482;
  color: #B39482;
}
.steps .step-item.is-brown.is-completed::before {
  background-position: left bottom;
}
.steps .step-item.is-brown.is-completed .step-marker {
  background-color: #B39482;
}
.steps .step-item.is-purple::before {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #DBDBDB), color-stop(50%, #7E69B4));
  background: linear-gradient(to left, #DBDBDB 50%, #7E69B4 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.steps .step-item.is-purple.is-active::before {
  background-position: left bottom;
}
.steps .step-item.is-purple.is-active .step-marker {
  background-color: #FFF;
  border-color: #7E69B4;
  color: #7E69B4;
}
.steps .step-item.is-purple.is-completed::before {
  background-position: left bottom;
}
.steps .step-item.is-purple.is-completed .step-marker {
  background-color: #7E69B4;
}
.steps .step-item.is-orange::before {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #DBDBDB), color-stop(50%, #F8AA24));
  background: linear-gradient(to left, #DBDBDB 50%, #F8AA24 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.steps .step-item.is-orange.is-active::before {
  background-position: left bottom;
}
.steps .step-item.is-orange.is-active .step-marker {
  background-color: #FFF;
  border-color: #F8AA24;
  color: #F8AA24;
}
.steps .step-item.is-orange.is-completed::before {
  background-position: left bottom;
}
.steps .step-item.is-orange.is-completed .step-marker {
  background-color: #F8AA24;
}
.steps .step-item.is-red::before {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #DBDBDB), color-stop(50%, #E9362F));
  background: linear-gradient(to left, #DBDBDB 50%, #E9362F 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.steps .step-item.is-red.is-active::before {
  background-position: left bottom;
}
.steps .step-item.is-red.is-active .step-marker {
  background-color: #FFF;
  border-color: #E9362F;
  color: #E9362F;
}
.steps .step-item.is-red.is-completed::before {
  background-position: left bottom;
}
.steps .step-item.is-red.is-completed .step-marker {
  background-color: #E9362F;
}
nav.indexer {
  background-color: transparent;
}
.indexer-blue a {
  color: #1CBDC7;
}
.indexer-blue .pagination-link.is-current {
  border-color: #1CBDC7;
  color: #FFF;
  background-color: #1CBDC7;
}
.indexer-green a {
  color: #1D875F;
}
.indexer-green .pagination-link.is-current {
  border-color: #1D875F;
  color: #FFF;
  background-color: #1D875F;
}
.indexer-brown a {
  color: #B39482;
}
.indexer-brown .pagination-link.is-current {
  border-color: #B39482;
  color: #FFF;
  background-color: #B39482;
}
.indexer-purple a {
  color: #7E69B4;
}
.indexer-purple .pagination-link.is-current {
  border-color: #7E69B4;
  color: #FFF;
  background-color: #7E69B4;
}
.indexer-orange a {
  color: #F8AA24;
}
.indexer-orange .pagination-link.is-current {
  border-color: #F8AA24;
  color: #FFF;
  background-color: #F8AA24;
}
.indexer-red a {
  color: #E9362F;
}
.indexer-red .pagination-link.is-current {
  border-color: #E9362F;
  color: #FFF;
  background-color: #E9362F;
}
.media-content-blue {
  color: #1CBDC7 !important;
}
.media-content-blue .subtitle {
  color: #1CBDC7 !important;
}
.media-content-blue .title {
  color: #1CBDC7 !important;
}
.media-content-green {
  color: #1D875F !important;
}
.media-content-green .subtitle {
  color: #1D875F !important;
}
.media-content-green .title {
  color: #1D875F !important;
}
.media-content-brown {
  color: #B39482 !important;
}
.media-content-brown .subtitle {
  color: #B39482 !important;
}
.media-content-brown .title {
  color: #B39482 !important;
}
.media-content-purple {
  color: #7E69B4 !important;
}
.media-content-purple .subtitle {
  color: #7E69B4 !important;
}
.media-content-purple .title {
  color: #7E69B4 !important;
}
.media-content-orange {
  color: #F8AA24 !important;
}
.media-content-orange .subtitle {
  color: #F8AA24 !important;
}
.media-content-orange .title {
  color: #F8AA24 !important;
}
.media-content-red {
  color: #E9362F !important;
}
.media-content-red .subtitle {
  color: #E9362F !important;
}
.media-content-red .title {
  color: #E9362F !important;
}
.dropdown-menu {
  right: 0;
  left: auto;
}
.has-header-top-margin {
  margin-top: 0.75rem !important;
}
nav.navigation-menu {
  margin-top: 2%;
  background-color: #212D3A;
}
nav.navigation-menu .columns {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0 !important;
}
nav.navigation-menu .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav.navigation-menu .navbar-item {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}
nav.navigation-menu .navbar-item a {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}
nav.navigation-menu .navbar-item a:hover {
  color: #FFF;
}
.breadcrumb .breadcrumb-content {
  padding-left: 9%;
  padding-right: 10%;
}
.breadcrumb .breadcrumb-content a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  line-height: 36px;
  color: black;
  padding: 0 10px 0 30px;
  background: #ffffff;
  position: relative;
}
.breadcrumb .breadcrumb-content a .fa {
  font-size: 24px;
}
.breadcrumb .breadcrumb-content a::after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  -webkit-transform: scale(0.707) rotate(45deg);
          transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #ffffff;
  border-radius: 0 5px 0 50px;
}
.navbar-item-blue:hover {
  background-color: #1CBDC7;
}
.navbar-item-blue.is-active {
  background-color: #1CBDC7;
}
.navbar-item-blue {
  border-bottom-color: #1CBDC7;
}
.breadcrumb-blue {
  background-color: #1CBDC7;
}
.breadcrumb-blue a::after {
  -webkit-box-shadow: 2px -2px 0 2px #1CBDC7, 3px -3px 0 2px #1CBDC7;
          box-shadow: 2px -2px 0 2px #1CBDC7, 3px -3px 0 2px #1CBDC7;
}
.breadcrumb-blue a:first-child {
  background: #1CBDC7;
  color: #FFF;
}
.breadcrumb-blue a:first-child::after {
  background: #1CBDC7;
}
.navbar-item-green:hover {
  background-color: #1D875F;
}
.navbar-item-green.is-active {
  background-color: #1D875F;
}
.navbar-item-green {
  border-bottom-color: #1D875F;
}
.breadcrumb-green {
  background-color: #1D875F;
}
.breadcrumb-green a::after {
  -webkit-box-shadow: 2px -2px 0 2px #1D875F, 3px -3px 0 2px #1D875F;
          box-shadow: 2px -2px 0 2px #1D875F, 3px -3px 0 2px #1D875F;
}
.breadcrumb-green a:first-child {
  background: #1D875F;
  color: #FFF;
}
.breadcrumb-green a:first-child::after {
  background: #1D875F;
}
.navbar-item-brown:hover {
  background-color: #B39482;
}
.navbar-item-brown.is-active {
  background-color: #B39482;
}
.navbar-item-brown {
  border-bottom-color: #B39482;
}
.breadcrumb-brown {
  background-color: #B39482;
}
.breadcrumb-brown a::after {
  -webkit-box-shadow: 2px -2px 0 2px #B39482, 3px -3px 0 2px #B39482;
          box-shadow: 2px -2px 0 2px #B39482, 3px -3px 0 2px #B39482;
}
.breadcrumb-brown a:first-child {
  background: #B39482;
  color: #FFF;
}
.breadcrumb-brown a:first-child::after {
  background: #B39482;
}
.navbar-item-purple:hover {
  background-color: #7E69B4;
}
.navbar-item-purple.is-active {
  background-color: #7E69B4;
}
.navbar-item-purple {
  border-bottom-color: #7E69B4;
}
.breadcrumb-purple {
  background-color: #7E69B4;
}
.breadcrumb-purple a::after {
  -webkit-box-shadow: 2px -2px 0 2px #7E69B4, 3px -3px 0 2px #7E69B4;
          box-shadow: 2px -2px 0 2px #7E69B4, 3px -3px 0 2px #7E69B4;
}
.breadcrumb-purple a:first-child {
  background: #7E69B4;
  color: #FFF;
}
.breadcrumb-purple a:first-child::after {
  background: #7E69B4;
}
.navbar-item-orange:hover {
  background-color: #F8AA24;
}
.navbar-item-orange.is-active {
  background-color: #F8AA24;
}
.navbar-item-orange {
  border-bottom-color: #F8AA24;
}
.breadcrumb-orange {
  background-color: #F8AA24;
}
.breadcrumb-orange a::after {
  -webkit-box-shadow: 2px -2px 0 2px #F8AA24, 3px -3px 0 2px #F8AA24;
          box-shadow: 2px -2px 0 2px #F8AA24, 3px -3px 0 2px #F8AA24;
}
.breadcrumb-orange a:first-child {
  background: #F8AA24;
  color: #FFF;
}
.breadcrumb-orange a:first-child::after {
  background: #F8AA24;
}
.navbar-item-red:hover {
  background-color: #E9362F;
}
.navbar-item-red.is-active {
  background-color: #E9362F;
}
.navbar-item-red {
  border-bottom-color: #E9362F;
}
.breadcrumb-red {
  background-color: #E9362F;
}
.breadcrumb-red a::after {
  -webkit-box-shadow: 2px -2px 0 2px #E9362F, 3px -3px 0 2px #E9362F;
          box-shadow: 2px -2px 0 2px #E9362F, 3px -3px 0 2px #E9362F;
}
.breadcrumb-red a:first-child {
  background: #E9362F;
  color: #FFF;
}
.breadcrumb-red a:first-child::after {
  background: #E9362F;
}
footer {
  background-color: #212D3A;
  color: #FFF;
  font-size: 0.9rem;
}
footer a {
  color: #FFF;
}
footer a:hover {
  color: #FFF;
}
footer .container {
  margin-left: 10% !important;
  margin-right: 10% !important;
}
footer .footer-menu .column {
  border-top-width: 5px;
  border-top-style: solid;
}
footer .footer-menu .column .footer-menu-title {
  text-transform: uppercase;
  font-weight: bold;
}
footer .footer-menu .column .footer-menu-list a:hover {
  text-decoration: underline;
}
footer .footer-disclaimer {
  font-weight: bold;
  text-align: center;
  background: url("../imgs/footers/footer_fili.svg") no-repeat 0 0;
}
.footer-menu-blue {
  border-top-color: #1CBDC7;
}
.footer-menu-blue .footer-menu-list a:hover {
  color: #1CBDC7;
}
.footer-menu-green {
  border-top-color: #1D875F;
}
.footer-menu-green .footer-menu-list a:hover {
  color: #1D875F;
}
.footer-menu-brown {
  border-top-color: #B39482;
}
.footer-menu-brown .footer-menu-list a:hover {
  color: #B39482;
}
.footer-menu-purple {
  border-top-color: #7E69B4;
}
.footer-menu-purple .footer-menu-list a:hover {
  color: #7E69B4;
}
.footer-menu-orange {
  border-top-color: #F8AA24;
}
.footer-menu-orange .footer-menu-list a:hover {
  color: #F8AA24;
}
.footer-menu-red {
  border-top-color: #E9362F;
}
.footer-menu-red .footer-menu-list a:hover {
  color: #E9362F;
}
