ul.list-styled {
    padding-left: 1em;
}

ul.list-styled.is-square {
    list-style: square;
}


ul.list-icon {
    list-style: none;
    padding: 0;

    li {
      padding-left: 1.3em;
    }

    li:before {
      content: ""; 
      font-family: "FontAwesome";
      display: inline-block;
      margin-left: -1.3em; /* same as padding-left set on li */
      width: 1.3em; /* same as padding-left set on li */
    }

    li.fa-bookmark:before {
        content: "\f02e"; /* FontAwesome Unicode */
    }

    li.fa-book:before {
        content: "\f02d"; 
    }
    
    li.fa-circle:before {
        content: "\f111"; 
    }
    
    li.fa-square:before {
        content: "\f0c8"; 
    }
}

.pipe-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
    
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -1px;
    }
    
    li {
        flex-grow: 1;
        flex-basis: auto;
        margin: .25em 0;
        padding: 0 1em;
        text-align: center;
        border-left: 1px solid #ccc;
        background-color: #fff;
    }
}
