<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">

    <title>Polaris OS</title>
    <meta name="description" content="">

    <!-- build:css -->
    <link rel="stylesheet" href="/public/front/css/vendors.css" type="text/css">
    <link rel="stylesheet" href="/public/front/css/front.css" type="text/css"><!-- endbuild -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="alternate" type="application/rss+xml"
          title="RSS Feed"
          href="/api/public/v2/rss/publication/eyJ0aXRsZSI6Int7e3RpdGxlLmNvbnRlbnR9fX0iLCJkZXNjcmlwdGlvbiI6Int7e2Fic3RyYWN0cy4wLmNvbnRlbnR9fX0iLCJjb250ZW50IjoiIiwibGluayI6Imh0dHBzOi8vaW5lZC5tc3ctdGVzdGluZy5jb20vdmlldy97e3tfaWR9fX0iLCJpZCI6Int7X2lkfX0ifQ==/FR/eyIkYW5kIjpbeyJoYXNfb3RoZXJfdmVyc2lvbiI6ZmFsc2V9LHsic3RhdHVzIjoicHVibGlzaGVkIn0seyIkb3IiOlt7ImRpZmZ1c2lvbi5yaWdodHMuZXhwb3J0cy5ub3doZXJlIjpmYWxzZX0seyJkZXBvc2l0b3IiOiJBV2Q5bzlWRm81RmpjZU12SGpwTSJ9XX1dfQ==/WyItZGF0ZXMuZGVwb3NpdCIsIi1kYXRlcy51cGRhdGUiXQ==/1000" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="app">
    </div>
    <!-- build:js -->
    <script src='/public/front/js/vendors.js' type='text/javascript'>
</script><script src='/public/front/js/vendors.external.js' type='text/javascript'>
</script><script src="/public/front/js/bundle.js" type="text/javascript">
</script><!-- endbuild -->
</body>
</html>
