@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

@keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

.msw-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27.5px;
  margin-top: -27.5px; }
  .msw-loader .loader-square {
    width: 15px;
    height: 15px;
    float: left;
    top: -10px;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
    opacity: 0;
    -webkit-animation: enter 6s infinite;
    animation: enter 6s infinite; }
  .msw-loader .loader-loader-enter {
    top: 0px;
    opacity: 1; }
  .msw-loader .loader-square:nth-child(1) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s; }
  .msw-loader .loader-square:nth-child(2) {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s; }
  .msw-loader .loader-square:nth-child(3) {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s; }
  .msw-loader .loader-square:nth-child(4) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  .msw-loader .loader-square:nth-child(5) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s; }
  .msw-loader .loader-square:nth-child(6) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .msw-loader .loader-square:nth-child(8) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .msw-loader .loader-square:nth-child(9) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .msw-loader .loader-clear {
    clear: both; }
  .msw-loader .loader-last {
    margin-right: 0; }

.is-paddingless {
  padding: 0 !important;
}
.is-pulled-bottom {
  margin-top: auto;
}
.redify {
  color: #E9362F;
}
.msw-loader .primary-color {
  background-color: #E63A30;
}
.msw-loader .secondary-color {
  background-color: #000;
}
.card {
  padding: 1%;
  border: 1px solid #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.card .card-header {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #212D3A;
}
.card .card-footer {
  border-top: none;
}
.clickable-card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 0 2% 2% 2%;
  cursor: pointer;
}
.clickable-card .card-header {
  display: inline-block;
  padding: 0px 10px;
  color: #FFF;
  border-radius: 0 0 5px 5px;
  text-transform: uppercase;
}
.has-card-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#FFF));
  background: linear-gradient(to bottom, #EBEBEB, #FFF);
}
.card-blue {
  background-color: #1CBDC7;
}
.clickable-card-blue:hover {
  background-color: #1CBDC7;
}
.clickable-card-blue:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-blue .card-header {
  background-color: #1CBDC7;
}
.card-header-blue {
  background-color: #1CBDC7;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-green {
  background-color: #1D875F;
}
.clickable-card-green:hover {
  background-color: #1D875F;
}
.clickable-card-green:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-green .card-header {
  background-color: #1D875F;
}
.card-header-green {
  background-color: #1D875F;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-brown {
  background-color: #B39482;
}
.clickable-card-brown:hover {
  background-color: #B39482;
}
.clickable-card-brown:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-brown .card-header {
  background-color: #B39482;
}
.card-header-brown {
  background-color: #B39482;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-purple {
  background-color: #7E69B4;
}
.clickable-card-purple:hover {
  background-color: #7E69B4;
}
.clickable-card-purple:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-purple .card-header {
  background-color: #7E69B4;
}
.card-header-purple {
  background-color: #7E69B4;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-orange {
  background-color: #F8AA24;
}
.clickable-card-orange:hover {
  background-color: #F8AA24;
}
.clickable-card-orange:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-orange .card-header {
  background-color: #F8AA24;
}
.card-header-orange {
  background-color: #F8AA24;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-red {
  background-color: #E9362F;
}
.clickable-card-red:hover {
  background-color: #E9362F;
}
.clickable-card-red:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-red .card-header {
  background-color: #E9362F;
}
.card-header-red {
  background-color: #E9362F;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.button {
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  border: solid 1px #FFF;
  text-decoration: none;
  color: #4E5762;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  line-height: 1.8em;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  height: auto;
}
.button:focus:not(:active),
.button.is-focused:not(:active) {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.button:focus,
.button.is-focused {
  border-color: transparent;
}
.button-blue:focus,
.is-focused-blue,
.button-blue:hover {
  color: #1CBDC7;
}
.button-background-blue:hover {
  color: #FFF;
}
.button-background-blue {
  background-color: #1CBDC7;
  color: #FFF !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.button-green:focus,
.is-focused-green,
.button-green:hover {
  color: #1D875F;
}
.button-background-green:hover {
  color: #FFF;
}
.button-background-green {
  background-color: #1D875F;
  color: #FFF !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.button-brown:focus,
.is-focused-brown,
.button-brown:hover {
  color: #B39482;
}
.button-background-brown:hover {
  color: #FFF;
}
.button-background-brown {
  background-color: #B39482;
  color: #FFF !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.button-purple:focus,
.is-focused-purple,
.button-purple:hover {
  color: #7E69B4;
}
.button-background-purple:hover {
  color: #FFF;
}
.button-background-purple {
  background-color: #7E69B4;
  color: #FFF !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.button-orange:focus,
.is-focused-orange,
.button-orange:hover {
  color: #F8AA24;
}
.button-background-orange:hover {
  color: #FFF;
}
.button-background-orange {
  background-color: #F8AA24;
  color: #FFF !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.button-red:focus,
.is-focused-red,
.button-red:hover {
  color: #E9362F;
}
.button-background-red:hover {
  color: #FFF;
}
.button-background-red {
  background-color: #E9362F;
  color: #FFF !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.has-button-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EBEBEB));
  background-image: linear-gradient(to bottom, #FFF, #EBEBEB);
}
.has-button-gradient:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FFF), to(#EBEBEB));
  background-image: linear-gradient(to top, #FFF, #EBEBEB);
}
.input {
  border: 0;
  padding: 8px;
  min-height: 32px;
  background-color: #EEF0F2;
  border-radius: 8px;
}
.input:focus,
.input:hover,
.input:active {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.smart-widget {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
  border-color: #e4e4e4;
  border-top-width: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.smart-widget .smart-widget-header {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
}
.smart-widget .smart-widget-header .smart-widget-option {
  float: right;
  -webkit-backface-visibility: hidden;
}
.smart-widget .smart-widget-header .smart-widget-option a {
  display: inline-block;
  margin-right: 5px;
  color: #999;
  font-size: 14px;
  outline: none;
  -webkit-backface-visibility: hidden;
}
.smart-widget .smart-widget-header .smart-widget-option a:hover,
.smart-widget .smart-widget-header .smart-widget-option a:focus {
  color: #555;
}
.smart-widget .smart-widget-header .smart-widget-option a.widget-collapse-option {
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
}
.smart-widget .smart-widget-header .smart-widget-option .refresh-icon-animated {
  margin-right: 5px;
  color: #2baab1;
  display: none;
}
.smart-widget .smart-widget-inner {
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}
.smart-widget .smart-widget-inner .smart-widget-hidden-section {
  display: none;
  padding: 15px;
  background-color: #e4e4e4;
}
.smart-widget .smart-widget-inner .smart-widget-hidden-section .widget-color-list {
  list-style: none;
}
.smart-widget .smart-widget-inner .smart-widget-hidden-section .widget-color-list li {
  float: left;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  width: 25px;
  height: 25px;
  margin: 2px 10px 2px 0;
  border: 2px solid #fff;
  cursor: pointer;
}
.smart-widget .smart-widget-inner .smart-widget-hidden-section .widget-color-list li:last-child {
  margin-right: 0;
}
.smart-widget .smart-widget-inner .smart-widget-body {
  padding: 15px;
}
.smart-widget .smart-widget-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.smart-widget .list-group.no-border {
  margin-bottom: 0;
}
.smart-widget .list-group.no-border .list-group-item {
  border-width: 1px 0;
}
.smart-widget .list-group.no-border .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.smart-widget .list-group.no-border .list-group-item:last-child {
  border-bottom: 0;
}
.smart-widget.smart-widget-collapsed .smart-widget-option .widget-collapse-option {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
}
.smart-widget.widget-primary .smart-widget-header {
  background-color: #2baab1;
  color: #2baab1;
}
.smart-widget.widget-primary .smart-widget-option {
  float: right;
}
.smart-widget.widget-primary .smart-widget-option a {
  color: #fff;
}
.smart-widget.widget-dark .smart-widget-header {
  background-color: #20232b;
  color: #fff;
}
.smart-widget.widget-dark .smart-widget-option {
  float: right;
}
.smart-widget.widget-dark .smart-widget-option a {
  color: #fff;
}
.smart-widget.widget-dark .smart-widget-option a:hover,
.smart-widget.widget-dark .smart-widget-option a:focus {
  color: #ccc;
}
.smart-widget.widget-blue .smart-widget-header {
  background-color: #23b7e5;
  color: #fff;
}
.smart-widget.widget-blue .smart-widget-option {
  float: right;
}
.smart-widget.widget-blue .smart-widget-option a {
  color: #fff;
}
.smart-widget.widget-blue .smart-widget-option .refresh-icon-animated {
  color: #edbc6c;
}
.smart-widget.widget-dark-blue .smart-widget-header {
  background-color: #4c5f70;
  color: #fff;
}
.smart-widget.widget-dark-blue .smart-widget-option {
  float: right;
}
.smart-widget.widget-dark-blue .smart-widget-option a {
  color: #fff;
}
.smart-widget.widget-dark-blue .smart-widget-option a:hover,
.smart-widget.widget-dark-blue .smart-widget-option a:focus {
  color: #ccc;
}
.smart-widget.widget-purple .smart-widget-header {
  background-color: #7266ba;
  color: #fff;
}
.smart-widget.widget-purple .smart-widget-option {
  float: right;
}
.smart-widget.widget-purple .smart-widget-option a {
  color: #fff;
}
.smart-widget.widget-purple .smart-widget-option a:hover,
.smart-widget.widget-purple .smart-widget-option a:focus {
  color: #ccc;
}
.smart-widget.widget-green .smart-widget-header {
  background-color: #2baab1;
  color: #fff;
}
.smart-widget.widget-green .smart-widget-option {
  float: right;
}
.smart-widget.widget-green .smart-widget-option a {
  color: #fff;
}
.smart-widget.widget-green .smart-widget-option a:hover,
.smart-widget.widget-green .smart-widget-option a:focus {
  color: #ccc;
}
.smart-widget.widget-green .smart-widget-option .refresh-icon-animated {
  color: #edbc6c;
}
.smart-widget.widget-yellow .smart-widget-header {
  background-color: #edbc6c;
  color: #fff;
}
.smart-widget.widget-yellow .smart-widget-option {
  float: right;
}
.smart-widget.widget-yellow .smart-widget-option a {
  color: #fff;
}
.smart-widget.widget-yellow .smart-widget-option a:hover,
.smart-widget.widget-yellow .smart-widget-option a:focus {
  color: #ccc;
}
.smart-widget.widget-orange .smart-widget-header {
  background-color: #fbc852;
  color: #fff;
}
.smart-widget.widget-orange .smart-widget-option {
  float: right;
}
.smart-widget.widget-orange .smart-widget-option a {
  color: #fff;
}
.smart-widget.widget-orange .smart-widget-option a:hover,
.smart-widget.widget-orange .smart-widget-option a:focus {
  color: #ccc;
}
.smart-widget.widget-red .smart-widget-header {
  background-color: #e36159;
  color: #fff;
}
.smart-widget.widget-red .smart-widget-option {
  float: right;
}
.smart-widget.widget-red .smart-widget-option a {
  color: #fff;
}
.smart-widget.widget-red .smart-widget-option a:hover,
.smart-widget.widget-red .smart-widget-option a:focus {
  color: #ccc;
}
.smart-widget.widget-red .smart-widget-option .refresh-icon-animated {
  color: #edbc6c;
}
.smart-widget.widget-light-grey .smart-widget-header {
  background-color: #f5f5f5;
  color: #777;
}
.smart-widget.widget-light-grey .smart-widget-option {
  float: right;
}
.smart-widget.widget-light-grey .smart-widget-option a {
  color: #777;
}
.pagination.pagination-blue .pagination-list li a {
  color: #1CBDC7;
}
.pagination.pagination-blue .pagination-list li a:hover {
  border-color: #b5b5b5;
  color: #363636;
}
.pagination.pagination-blue .pagination-list li a.pagination-link.is-current {
  background-color: #1CBDC7;
  border-color: #1CBDC7;
  color: #FFF;
}
.pagination.pagination-green .pagination-list li a {
  color: #1D875F;
}
.pagination.pagination-green .pagination-list li a:hover {
  border-color: #b5b5b5;
  color: #363636;
}
.pagination.pagination-green .pagination-list li a.pagination-link.is-current {
  background-color: #1D875F;
  border-color: #1D875F;
  color: #FFF;
}
.pagination.pagination-brown .pagination-list li a {
  color: #B39482;
}
.pagination.pagination-brown .pagination-list li a:hover {
  border-color: #b5b5b5;
  color: #363636;
}
.pagination.pagination-brown .pagination-list li a.pagination-link.is-current {
  background-color: #B39482;
  border-color: #B39482;
  color: #FFF;
}
.pagination.pagination-purple .pagination-list li a {
  color: #7E69B4;
}
.pagination.pagination-purple .pagination-list li a:hover {
  border-color: #b5b5b5;
  color: #363636;
}
.pagination.pagination-purple .pagination-list li a.pagination-link.is-current {
  background-color: #7E69B4;
  border-color: #7E69B4;
  color: #FFF;
}
.pagination.pagination-orange .pagination-list li a {
  color: #F8AA24;
}
.pagination.pagination-orange .pagination-list li a:hover {
  border-color: #b5b5b5;
  color: #363636;
}
.pagination.pagination-orange .pagination-list li a.pagination-link.is-current {
  background-color: #F8AA24;
  border-color: #F8AA24;
  color: #FFF;
}
.pagination.pagination-red .pagination-list li a {
  color: #E9362F;
}
.pagination.pagination-red .pagination-list li a:hover {
  border-color: #b5b5b5;
  color: #363636;
}
.pagination.pagination-red .pagination-list li a.pagination-link.is-current {
  background-color: #E9362F;
  border-color: #E9362F;
  color: #FFF;
}
.message.is-blue .message-body {
  border-color: #1CBDC7;
  color: #1CBDC7;
}
.message.is-green .message-body {
  border-color: #1D875F;
  color: #1D875F;
}
.message.is-brown .message-body {
  border-color: #B39482;
  color: #B39482;
}
.message.is-purple .message-body {
  border-color: #7E69B4;
  color: #7E69B4;
}
.message.is-orange .message-body {
  border-color: #F8AA24;
  color: #F8AA24;
}
.message.is-red .message-body {
  border-color: #E9362F;
  color: #E9362F;
}
.holy-grail {
  height: 100vh;
}
.holy-grail,
.holy-grail-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.holy-grail-nav {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 768px) {
  .holy-grail-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .holy-grail-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .holy-grail-nav,
  .holy-grail-ads {
    /* 12em is the width of the columns */
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}
header {
  background: url("../imgs/headers/header_fili.svg") no-repeat 80% 0;
}
header.section {
  padding: 1rem 0;
}
aside.menu .menu-label-blue {
  border-bottom-color: #1CBDC7;
}
aside.menu .menu-list-blue a.is-active {
  background-color: #1CBDC7;
}
aside.menu .menu-list-blue a.is-active:hover {
  background-color: #1CBDC7;
}
aside.menu .menu-label-green {
  border-bottom-color: #1D875F;
}
aside.menu .menu-list-green a.is-active {
  background-color: #1D875F;
}
aside.menu .menu-list-green a.is-active:hover {
  background-color: #1D875F;
}
aside.menu .menu-label-brown {
  border-bottom-color: #B39482;
}
aside.menu .menu-list-brown a.is-active {
  background-color: #B39482;
}
aside.menu .menu-list-brown a.is-active:hover {
  background-color: #B39482;
}
aside.menu .menu-label-purple {
  border-bottom-color: #7E69B4;
}
aside.menu .menu-list-purple a.is-active {
  background-color: #7E69B4;
}
aside.menu .menu-list-purple a.is-active:hover {
  background-color: #7E69B4;
}
aside.menu .menu-label-orange {
  border-bottom-color: #F8AA24;
}
aside.menu .menu-list-orange a.is-active {
  background-color: #F8AA24;
}
aside.menu .menu-list-orange a.is-active:hover {
  background-color: #F8AA24;
}
aside.menu .menu-label-red {
  border-bottom-color: #E9362F;
}
aside.menu .menu-list-red a.is-active {
  background-color: #E9362F;
}
aside.menu .menu-list-red a.is-active:hover {
  background-color: #E9362F;
}
aside.menu {
  background-color: #212D3A;
  padding: 1rem;
}
aside.menu .menu-label {
  color: #FFF;
  font-weight: bold;
}
aside.menu .menu-label {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
aside.menu .menu-list a {
  color: #FFF;
}
aside.menu .menu-list a:hover {
  background-color: rgba(128, 128, 128, 0.4);
}
aside.menu .menu-list .is-active-dropdown {
  background-color: rgba(128, 128, 128, 0.4);
}
aside.menu .menu-dropdown {
  -webkit-transition: height;
  transition: height;
}
aside.menu .menu-dropdown-enter,
aside.menu .menu-dropdown-leave-to {
  opacity: 0;
}
aside.menu .menu-dropdown-leave,
aside.menu .menu-dropdown-enter-to {
  opacity: 1;
}
aside.menu .menu-dropdown-enter-active,
aside.menu .menu-dropdown-leave-active {
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
aside.menu .menu-dropdown-enter-active {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
footer.section {
  background-color: #212D3A;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}
footer .footer-container {
  background-color: #212D3A;
  padding-left: 10% !important;
  padding-right: 10% !important;
  color: #FFF;
  font-size: 0.9rem;
}
footer .footer-container a {
  color: #FFF;
}
footer .footer-container a:hover {
  color: #FFF;
}
footer .footer-disclaimer {
  font-weight: bold;
  text-align: center;
  background: url("../imgs/footers/footer_fili.svg") no-repeat 0 0;
}
.footer-menu-blue {
  border-top-color: #1CBDC7;
}
.footer-menu-blue .footer-menu-list a:hover {
  color: #1CBDC7;
}
.footer-menu-green {
  border-top-color: #1D875F;
}
.footer-menu-green .footer-menu-list a:hover {
  color: #1D875F;
}
.footer-menu-brown {
  border-top-color: #B39482;
}
.footer-menu-brown .footer-menu-list a:hover {
  color: #B39482;
}
.footer-menu-purple {
  border-top-color: #7E69B4;
}
.footer-menu-purple .footer-menu-list a:hover {
  color: #7E69B4;
}
.footer-menu-orange {
  border-top-color: #F8AA24;
}
.footer-menu-orange .footer-menu-list a:hover {
  color: #F8AA24;
}
.footer-menu-red {
  border-top-color: #E9362F;
}
.footer-menu-red .footer-menu-list a:hover {
  color: #E9362F;
}
