@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

@keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

.msw-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27.5px;
  margin-top: -27.5px; }
  .msw-loader .loader-square {
    width: 15px;
    height: 15px;
    float: left;
    top: -10px;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
    opacity: 0;
    -webkit-animation: enter 6s infinite;
    animation: enter 6s infinite; }
  .msw-loader .loader-loader-enter {
    top: 0px;
    opacity: 1; }
  .msw-loader .loader-square:nth-child(1) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s; }
  .msw-loader .loader-square:nth-child(2) {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s; }
  .msw-loader .loader-square:nth-child(3) {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s; }
  .msw-loader .loader-square:nth-child(4) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  .msw-loader .loader-square:nth-child(5) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s; }
  .msw-loader .loader-square:nth-child(6) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .msw-loader .loader-square:nth-child(8) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .msw-loader .loader-square:nth-child(9) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .msw-loader .loader-clear {
    clear: both; }
  .msw-loader .loader-last {
    margin-right: 0; }

.is-paddingless {
  padding: 0 !important;
}
.is-pulled-bottom {
  margin-top: auto;
}
.msw-loader .primary-color {
  background-color: #E63A30;
}
.msw-loader .secondary-color {
  background-color: #000;
}
.card {
  padding: 1%;
  border: 1px solid #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.card .card-header {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #212D3A;
}
.card .card-footer {
  border-top: none;
}
.clickable-card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 0 2% 2% 2%;
  cursor: pointer;
}
.clickable-card .card-header {
  display: inline-block;
  padding: 0px 10px;
  color: #FFF;
  border-radius: 0 0 5px 5px;
  text-transform: uppercase;
}
.has-card-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#FFF));
  background: linear-gradient(to bottom, #EBEBEB, #FFF);
}
.card-blue {
  background-color: #1CBDC7;
}
.clickable-card-blue:hover {
  background-color: #1CBDC7;
}
.clickable-card-blue:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-blue .card-header {
  background-color: #1CBDC7;
}
.card-header-blue {
  background-color: #1CBDC7;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-green {
  background-color: #1D875F;
}
.clickable-card-green:hover {
  background-color: #1D875F;
}
.clickable-card-green:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-green .card-header {
  background-color: #1D875F;
}
.card-header-green {
  background-color: #1D875F;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-brown {
  background-color: #B39482;
}
.clickable-card-brown:hover {
  background-color: #B39482;
}
.clickable-card-brown:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-brown .card-header {
  background-color: #B39482;
}
.card-header-brown {
  background-color: #B39482;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-purple {
  background-color: #7E69B4;
}
.clickable-card-purple:hover {
  background-color: #7E69B4;
}
.clickable-card-purple:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-purple .card-header {
  background-color: #7E69B4;
}
.card-header-purple {
  background-color: #7E69B4;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-orange {
  background-color: #F8AA24;
}
.clickable-card-orange:hover {
  background-color: #F8AA24;
}
.clickable-card-orange:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-orange .card-header {
  background-color: #F8AA24;
}
.card-header-orange {
  background-color: #F8AA24;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.card-red {
  background-color: #E9362F;
}
.clickable-card-red:hover {
  background-color: #E9362F;
}
.clickable-card-red:hover .card-header {
  background-color: #212D3A;
  color: #FFF;
}
.clickable-card-red .card-header {
  background-color: #E9362F;
}
.card-header-red {
  background-color: #E9362F;
  border-radius: 5px 5px 0 0;
  padding: 1%;
  border-bottom: 0px solid #FFF !important;
  font-weight: bold;
  color: #FFF !important;
  text-transform: uppercase;
}
.button {
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  border: solid 1px #FFF;
  text-decoration: none;
  color: #4E5762;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  line-height: 1.8em;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  height: auto;
}
.button:focus:not(:active),
.button.is-focused:not(:active) {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.button:focus,
.button.is-focused {
  border-color: transparent;
}
.button-blue:focus,
.is-focused-blue,
.button-blue:hover {
  color: #1CBDC7;
}
.button-green:focus,
.is-focused-green,
.button-green:hover {
  color: #1D875F;
}
.button-brown:focus,
.is-focused-brown,
.button-brown:hover {
  color: #B39482;
}
.button-purple:focus,
.is-focused-purple,
.button-purple:hover {
  color: #7E69B4;
}
.button-orange:focus,
.is-focused-orange,
.button-orange:hover {
  color: #F8AA24;
}
.button-red:focus,
.is-focused-red,
.button-red:hover {
  color: #E9362F;
}
.has-button-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EBEBEB));
  background-image: linear-gradient(to bottom, #FFF, #EBEBEB);
}
.has-button-gradient:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FFF), to(#EBEBEB));
  background-image: linear-gradient(to top, #FFF, #EBEBEB);
}
.input {
  border: 0;
  padding: 8px;
  min-height: 32px;
  background-color: #EEF0F2;
  border-radius: 8px;
}
.input:focus,
.input:hover,
.input:active {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.stepper {
  display: inline-block;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
}
.stepper a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 10px 0 60px;
  background: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
  background: linear-gradient(#666, #333);
  position: relative;
  text-align: center;
}
.stepper a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
  /*to match with the parent's radius*/
}
.stepper a:first-child:before {
  left: 14px;
}
.stepper a:last-child {
  border-radius: 0 5px 5px 0;
  /*this was to prevent glitches on hover*/
  padding-right: 20px;
}
.stepper a.active,
.breadcrumb a:hover {
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000));
  background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after,
.breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}
.stepper a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  /*half of square's length*/
  width: 36px;
  height: 36px;
  -webkit-transform: scale(0.707) rotate(45deg);
          transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  -webkit-box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
          box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}
.stepper a:last-child:after {
  content: none;
}
.stepper a:before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
  background: linear-gradient(#444, #222);
  font-weight: bold;
}
.flat a,
.flat a:after {
  background: white;
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.flat a:before {
  background: white;
  -webkit-box-shadow: 0 0 0 1px #ccc;
          box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover,
.flat a.active,
.flat a:hover:after,
.flat a.active:after {
  background: #9EEB62;
}
.holy-grail {
  height: 100vh;
}
.holy-grail,
.holy-grail-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.holy-grail-nav {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 768px) {
  .holy-grail-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .holy-grail-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .holy-grail-nav,
  .holy-grail-ads {
    /* 12em is the width of the columns */
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}
header {
  background: url("../imgs/headers/header_fili.svg") no-repeat 80% 0;
}
header.section {
  padding: 1rem 0;
}
aside.menu .menu-label-blue {
  border-bottom-color: #1CBDC7;
}
aside.menu .menu-list-blue a.is-active {
  background-color: #1CBDC7;
}
aside.menu .menu-list-blue a.is-active:hover {
  background-color: #1CBDC7;
}
aside.menu .menu-label-green {
  border-bottom-color: #1D875F;
}
aside.menu .menu-list-green a.is-active {
  background-color: #1D875F;
}
aside.menu .menu-list-green a.is-active:hover {
  background-color: #1D875F;
}
aside.menu .menu-label-brown {
  border-bottom-color: #B39482;
}
aside.menu .menu-list-brown a.is-active {
  background-color: #B39482;
}
aside.menu .menu-list-brown a.is-active:hover {
  background-color: #B39482;
}
aside.menu .menu-label-purple {
  border-bottom-color: #7E69B4;
}
aside.menu .menu-list-purple a.is-active {
  background-color: #7E69B4;
}
aside.menu .menu-list-purple a.is-active:hover {
  background-color: #7E69B4;
}
aside.menu .menu-label-orange {
  border-bottom-color: #F8AA24;
}
aside.menu .menu-list-orange a.is-active {
  background-color: #F8AA24;
}
aside.menu .menu-list-orange a.is-active:hover {
  background-color: #F8AA24;
}
aside.menu .menu-label-red {
  border-bottom-color: #E9362F;
}
aside.menu .menu-list-red a.is-active {
  background-color: #E9362F;
}
aside.menu .menu-list-red a.is-active:hover {
  background-color: #E9362F;
}
aside.menu {
  background-color: #212D3A;
  padding: 1rem;
}
aside.menu .menu-label {
  color: #FFF;
  font-weight: bold;
}
aside.menu .menu-label {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
aside.menu .menu-list a {
  color: #FFF;
}
aside.menu .menu-list a:hover {
  background-color: rgba(128, 128, 128, 0.4);
}
aside.menu .menu-list .is-active-dropdown {
  background-color: rgba(128, 128, 128, 0.4);
}
aside.menu .menu-dropdown {
  -webkit-transition: height;
  transition: height;
}
aside.menu .menu-dropdown-enter,
aside.menu .menu-dropdown-leave-to {
  opacity: 0;
}
aside.menu .menu-dropdown-leave,
aside.menu .menu-dropdown-enter-to {
  opacity: 1;
}
aside.menu .menu-dropdown-enter-active,
aside.menu .menu-dropdown-leave-active {
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
aside.menu .menu-dropdown-enter-active {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
footer.section {
  background-color: #212D3A;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}
footer .footer-container {
  background-color: #212D3A;
  padding-left: 10% !important;
  padding-right: 10% !important;
  color: #FFF;
  font-size: 0.9rem;
}
footer .footer-container a {
  color: #FFF;
}
footer .footer-container a:hover {
  color: #FFF;
}
footer .footer-disclaimer {
  font-weight: bold;
  text-align: center;
  background: url("../imgs/footers/footer_fili.svg") no-repeat 0 0;
}
.footer-menu-blue {
  border-top-color: #1CBDC7;
}
.footer-menu-blue .footer-menu-list a:hover {
  color: #1CBDC7;
}
.footer-menu-green {
  border-top-color: #1D875F;
}
.footer-menu-green .footer-menu-list a:hover {
  color: #1D875F;
}
.footer-menu-brown {
  border-top-color: #B39482;
}
.footer-menu-brown .footer-menu-list a:hover {
  color: #B39482;
}
.footer-menu-purple {
  border-top-color: #7E69B4;
}
.footer-menu-purple .footer-menu-list a:hover {
  color: #7E69B4;
}
.footer-menu-orange {
  border-top-color: #F8AA24;
}
.footer-menu-orange .footer-menu-list a:hover {
  color: #F8AA24;
}
.footer-menu-red {
  border-top-color: #E9362F;
}
.footer-menu-red .footer-menu-list a:hover {
  color: #E9362F;
}
