//Mixins
.generate-colored-nav-menu(@i: length(@ined-colors)) when (@i > 0) {
    @name: extract(@ined-colors, @i);

    .navbar-item-@{name}:hover {
        background-color: @@name;
    }

    .navbar-item-@{name}.is-active {
        background-color: @@name; 
    }

    .navbar-item-@{name} {
        border-bottom-color: @@name;
    }

    .breadcrumb-@{name} {
        background-color: @@name;
    }

    .breadcrumb-@{name} {
        a::after {
            /*stylish arrow design using box shadow*/
            box-shadow: 
            2px -2px 0 2px @@name, 
            3px -3px 0 2px @@name;
        }
    }

    .generate-colored-nav-menu((@i - 1));
}
nav {
    margin-top: 2%;
    background-color: @grey-3;

    .columns {
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 0 !important;
    }

    .column {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-item {
        text-align: center;
        border-bottom-style: solid;
        border-bottom-width: 5px;
        a {
            color: @white;
            font-weight: bold;
        }
        
        a:hover {
            color: @white;
        }
    }
}

.breadcrumb {
    .breadcrumb-content {
        padding-left: 9%;
        padding-right: 10%;

        a {
            text-decoration: none;
            outline: none;
            display: block;
            float: left;
            line-height: 36px;
            color: black;
            /*need more margin on the left of links to accomodate the numbers*/
            padding: 0 10px 0 30px;
            background: @white;
            position: relative;
        }

        a::after { 
            content: '';
            position: absolute;
            top: 0; 
            right: -18px; /*half of square's length*/
            /*same dimension as the line-height of .breadcrumb a */
            width: 36px; 
            height: 36px;
            /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
            length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
            if diagonal required = 1; length = 1/1.414 = 0.707*/
            transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
            z-index: 1;
            /*background same as links but the gradient will be rotated to compensate with the transform applied*/
            background: @white;
            /*
            5px - for rounded arrows and 
            50px - to prevent hover glitches on the border created using shadows*/
            border-radius: 0 5px 0 50px;
        }
    }
}

.generate-colored-nav-menu();

