//Variables
@white-transparent-breadcrumb: rgba(255, 255, 255, 1);

//Mixins
.generate-colored-nav-menu(@i: length(@ined-colors)) when (@i > 0) {
    @name: extract(@ined-colors, @i);

    .navbar-item-@{name}:hover {
        background-color: @@name;
    }

    .navbar-item-@{name}.is-active {
        background-color: @@name; 
    }

    .navbar-item-@{name} {
        border-bottom-color: @@name;
    }

    .breadcrumb-@{name} {
        background-color: @@name;
    }

    .breadcrumb-@{name} {
        a::after {
            box-shadow: 
            2px -2px 0 2px @@name, 
            3px -3px 0 2px @@name;
        }

        a:first-child {
            background: @@name;
            color: @white;
        }

        a:first-child::after {
            background: @@name; 
        }
    }

    .generate-colored-nav-menu((@i - 1));
}
nav.navigation-menu {
    margin-top: 2%;
    background-color: @grey-3;

    .columns {
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 0 !important;
    }

    .column {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-item {
        text-align: center;
        border-bottom-style: solid;
        border-bottom-width: 5px;
        a {
            color: @white;
            font-weight: bold;
            text-transform: uppercase;
            width: 100%;
        }
        
        a:hover {
            color: @white;
        }
    }
}

.breadcrumb {
    .breadcrumb-content {
        padding-left: 9%;
        padding-right: 10%;

        a {
            text-decoration: none;
            outline: none;
            display: block;
            float: left;
            line-height: 36px;
            color: black;
            padding: 0 10px 0 30px;
            background: @white-transparent-breadcrumb;
            position: relative;

            .fa {
                font-size: 24px;
            }
        }

        a::after { 
            content: '';
            position: absolute;
            top: 0; 
            right: -18px; 
            width: 36px; 
            height: 36px;
            transform: scale(0.707) rotate(45deg);
            z-index: 1;
            background: @white-transparent-breadcrumb; 
            border-radius: 0 5px 0 50px;
        }
    }
}

.generate-colored-nav-menu();

